<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#136a66"/>
  <title><% if (page.title){ %><%- page.title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <%- open_graph({
    twitter_id: theme.twitter,
    image: "/assets/img/" + <% if (!page.img) {%><%- config.defaultimage %><%}else{%>page.img<%}%>
  }) %>
  
  <% if (theme.rss){ %>
  <link rel="alternate" href="<%= url_for(theme.rss) %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>

  <% if (theme.favicon){ %>
  <link rel="icon" href="<%- theme.favicon %>">
  <% } %>

  <% if (page.layout == "slides" || page.layout == "big") { %><%}else{%>
  <!-- default styles -->
  <link rel="stylesheet" href="/style.css">
  <%}%>

  <% if (page.header) {%>
  <!-- scripts and styles in page.header -->
  <%- page.header %>
  
  <%}%>

  <% if (page.style) {%>
  <!-- page.style -->
  <style>
    <%- page.style %>
  </style>
  <%}%>
  
  <% if (is_home()) {%>
    <script>
      console.log("home")
    </script>  
  <%}%>
</head>

<body class="<% if (page.theme) {%><%- page.theme %><%}else{%>light<%}%>">
  <% if (page.layout === "slides" || page.layout === "big") {%>
    <%- body %>
  <%}else{%>

  <!-- nav and header -->

  <!-- body -->
  <div id="content" class="container main">
    <%- body %>
  </div>

  <!-- footer -->
  
  <!-- modal -->
  <%- partial('_partial/modals.ejs') %>

  <!-- scripts -->
  <script>
  var modalContactCancel = document.getElementById("modal-contact-cancel")
  .addEventListener('click', function(e) {
    e.preventDefault();
    window.location.hash = "close"
  });
  </script>
  <%}%>
  <script src="/highlight.min.js"></script>
  <script>
  document.addEventListener('DOMContentLoaded', function(event) {
    document.querySelectorAll('pre code').forEach(function(block) {
      hljs.highlightBlock(block);
    });
  });
  </script>
</body>
</html>