<%- partial('_partial/head') %>
<body>
  <% if (page.layout === "slides") {%>
    <%- body %>
  <%}else{%>
  <%- partial('_partial/nav.ejs') %>
  <%- partial('_partial/header') %>
  <div id="content" class="container main">
    <section>
      <%- body %>
    </section>
  </div>
  <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  <%- partial('_partial/modals.ejs') %>
  <script>
  var modalContactCancel = document.getElementById("modal-contact-cancel")
  .addEventListener('click', function(e) {
    e.preventDefault();
    window.location.hash = "close"
  });
  </script>
  <%}%>
</body>
</html>