<%- partial('_partial/head') %>
<body class="<% if (page.theme) {%><%- page.theme %><%}else{%>light<%}%>">
  <% if (page.layout === "slides" || page.layout === "big") {%>
    <%- body %>
  <%}else{%>
  <%- partial('_partial/nav.ejs') %>
  <%- partial('_partial/header') %>
  <div id="content" class="container main">
    <%- body %>
  </div>
  <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  <%- partial('_partial/modals.ejs') %>
  <script>
  var modalContactCancel = document.getElementById("modal-contact-cancel")
  .addEventListener('click', function(e) {
    e.preventDefault();
    window.location.hash = "close"
  });
  </script>
  <%}%>
  <!-- <script src="/assets/prism.js"></script> -->
  <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.1/build/highlight.min.js"></script>
  <script>
  document.addEventListener('DOMContentLoaded', function(event) {
    document.querySelectorAll('pre code').forEach(function(block) {
      hljs.highlightBlock(block);
    });
  });
  </script>
</body>
</html>