<div class="post">
<% if (pagination == 2){ %>
  <% page.posts.each(function(post){ %>
    <%- partial('article', {post: post, index: true}) %>
  <% }) %>
<% } else { %>
  <% var last; %>
  <% page.posts.each(function(post, i){ %>
    <% var year = post.date.year(); %>
    <% if (last != year){ %>
      <% if (last != null){ %>
        </div></section>
      <% } %>
      <% last = year; %>
      <section class="archives-wrap">
        <div class="archive-year-wrap">
          <!-- <a href="<%- url_for(config.archive_dir + '/' + year) %>" class="archive-year"><%= year %></a> -->
          <h2 class="zp-headline zp-headline-dark"><span><%= year %></span</h2>
        </div>
        <div class="archives">
    <% } %>
    <%- partial('archive-post', {post: post, even: i % 2 == 0}) %>
  <% }) %>
  <% if (page.posts.length){ %>
    <% if (page.total > 1){ %>
      <nav class="archive-nav">
        <% var prev_text = "← " + __('prev');
           var next_text = __('next') + " →";
           var total_text = __('total of')
        %>
        <%- paginator({
          prev_text: prev_text,
          next_text: next_text
        }) %>
      </nav>
    <% } %>
    </div></section>
  <% } %>
<% } %>
</div></section>
<!-- ←Older Posts → &laquo; -->
<script>
<% if (page.total > 1){ %>
  var archivePage = document.getElementById("archive-page");
  var currentPage = <%- page.current %>;
  var totalPages = <%- page.total %>;
  archivePage.innerHTML = "Page " + currentPage + " of " + totalPages;
<%}%>
</script>