<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <link rel="manifest" href="/manifest.json"> -->
<meta name="theme-color" content="<%- config.color %>" />
<title><%- config.title %> </title>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<!-- hexo opengraph -->
<%- open_graph({
  twitter_id: config.twitter
}) %>

<meta property="og:image" content="<%- config.url %>/assets/img/<% if (page.img) {%><%- (page.img) %><%}else{%><%- config.defaultimage %><%}%>">

<% if (config.favicon){ %>
<link rel="icon" href="<%- config.favicon %>">
<% } %>

<% if (is_home()) {%>
<link rel="stylesheet" href="/landing.css">
<%}else{%>
<link rel="stylesheet" href="/post.css">
<%}%>

<link rel="stylesheet" href="/stackoverflow-dark.css">

<!-- scripts and styles in page.header -->
<% if (page.head) {%>
<%- page.head %>
<%}%>


<!-- page.style page.css -->
<% if (page.style) {%>
<style>
<%- page.style %>
</style>
<%}%>

<% if (page.css) {%>
<style>
<%- page.css %>
</style>
<%}%>

</head>
