<header class="hero hero-sm" style="height: auto">
  <img class="hero--background-img" src="/assets/img/lg_header-hero-image.webp" alt="Background Image of a River"></img>
  <div>
    <div class="hero--inner inner-container">
      <div style="padding: 1rem 1.5rem">
        <h1 class="hero--title" style="display: inline-flex; align-items: center; margin-top: 0">
          <img class="logo" src="/assets/logo.svg" alt="logo" /> <%- config.title %>
            <span style="font-size: 1rem"></span>
        </h1>
        <h2 class="hero--subtitle"><%- config.tagline %></h2>
      </div>
      <div id="post-preview" class="grid--card" style="background-color: var(--color-accent-light)">
        <span class="grid--icon">
          <img src="/assets/icons/grid-icons/tracking.svg" alt="Data Servers" />
        </span>
        <h3 style="margin-right: 30px"><%- config.description_title %></h3>
        <%- config.description %>
          <br />
          <a href="/connect" class="grid--card-button">Connect</a>
      </div>
      <div id="post-mobile-preview"
        style="background-color: var(--color-accent-light); padding: 1rem; font-size: 0.8rem">
        <%- config.description %>
      </div>
      <!-- <br>
      <a href="/connect" style="border:solid thin white;background:transparent;padding: 0.25rem 0.5rem;color: white;text-decoration: none;cursor:pointer;margin-top:0.5rem;float:right">Connect</a> -->
    </div>
  </div>
  <div id="services" class="container" style="z-index: 1">
    <!-- <h2 class="section--heading" id="projects">Services</h2> -->
    <div class="grid grid-2">
      <div class="grid--card">
        <h3>Web Application Development</h3>
        <span class="grid--icon">
          <img src="/assets/icons/grid-icons/reports.svg" alt="Charts" />
        </span>
        <p>Break out of bloated enterprise web maps with geospatial web applications customized to deliver a targeted
          user experience for your clients.</p>
      </div>
      <div class="grid--card">
        <h3>Mapbox GL JS Styles</h3>
        <span class="grid--icon">
          <img src="/assets/icons/grid-icons/maps.svg" alt="Map" />
        </span>
        <p>Brand matters. Enhance user experience with custom map designs to match your brand.</p>
      </div>
      <div class="grid--card">
        <h3>Spatial Analysis</h3>
        <span class="grid--icon">
          <img src="/assets/icons/grid-icons/tracking.svg" alt="Data Grid" />
        </span>
        <p>
          Spatial analytics can enrich and enhance any type of data associated with a physical
          location.
        </p>
      </div>
      <div class="grid--card">
        <h3>Raster & Vector Tile Hosting</h3>
        <span class="grid--icon">
          <img src="/assets/icons/grid-icons/manage-data.svg" alt="Data Servers" />
        </span>
        <p>
          Take control of web map data with a database-to-map pipeline and hosted vector or raster
          data.
        </p>
      </div>
    </div>
  </div>
</header>