  <article>
    <a rel="prefetch" href="<%- url_for(post.path) %>" style="text-decoration: none;">
    <picture>
      <source srcset="/assets/img/md_<% if (post.img) {%><%- (post.img).replace(".png", ".webp").replace(".jpg", ".webp" ) %>
      <%}else{%>
        <%- config.defaultimage %>
      <%}%>" media="(min-width: 768px)" loading=lazy>
            <img loading="lazy" src="/assets/img/md_<% if (post.img) {%><%- (post.img).replace(".png", ".webp").replace(".jpg", ".webp" ) %>
      <%}else{%>
              <%- config.defaultimage %>
      <%}%>" alt="<%- post.img %>" loading=lazy />
    </picture>
    <div class="post-card">
      <!-- <%- partial('_partial/date', {post: post}) %> -->
        <h2 style="margin-bottom:0.5rem">
          <%= post.title %>
        </h2>
        <h3 class="card-subtitle">
          <%= post.subtitle %>
        </h3>
        <p style="text-decoration: none;color: #212121"><%- strip_html((post.excerpt).substring(0, 225)) %>...</p>
      </div>
    </a>
  </article>
