<!--footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
    </div>
  </div>
</footer-->

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <div>
            <h5><a href="/" style="border-bottom: dashed thin;"><%- config.title %></a>
              | by Malcolm Meyer<br>
            </h5>
            <a href="/about/">About</a> | <a href="/blog/">Blog</a> | <a href="#modal-contact">Contact</a><br>
            Twitter - <a href="https://twitter.com/getbounds" target="_blank">@getBounds</a><br>
            GitHub - <a href="https://github.com/reyemtm" target="_blank">reyemtm</a><br>
        </div>
      </div>
      <div class="col">
        <%- partial('_widget/archive') %>
      </div>
      <div class="col">
        <h5>Topics</h5>
        <%- tagcloud() %>

      </div>
    </div>
  </div>
  <div class="col is-text-center bg-dark div-full" style="margin-top:0;margin-bottom:0;padding: 2rem;font-size:1.2rem;">
    Powered by <a href="https://jenil.github.io/chota/#docs" target="_blank">chota</a> | <a href="https://hexo.io/" target="_blank">Hexo</a> | <a href="https://www.netlify.com/" target="_blank">Netlify</a> | <a href="https://gtihub.com/" target="_blank">GitHub</a><br>
    Favicon made by <a href="https://www.flaticon.com/authors/vaadin" target="_blank">Vaadin</a> from <a href="https://www.flaticon.com" target="_blank">www.flaticon.com</a><br>
    <a rel="license" style="padding-left:1rem;" href="https://creativecommons.org/licenses/by-nc-sa/4.0/"> Attribution-NonCommercial-ShareAlike 4.0 International</a>
  </div>
</footer>
<script>
  <% if (config.highlight.enable){ %>
  var link = document.createElement( "link" );
  link.href = "//fonts.googleapis.com/css?family=Source+Code+Pro";
  link.type = "text/css";
  link.rel = "stylesheet";

  document.getElementsByTagName( "head" )[0].appendChild( link );
  <% } %>
</script>