<article class="post-archive archive-article archive-type-<%= post.layout %>">
  <div class="archive-article-inner">
    <header class="archive-article-header">
      <%- partial('post/header', {class_name: 'archive-article-title'}) %>
      <p></p>
      <a href="<%- url_for(post.path) %>"><img src="/assets/img/<% if (post.img) {%><%- post.img %><%}else{%><%- config.defaultimage %><%}%>" width="100%" alt="<%- post.title %>"></img></a>

      <p><%- post.excerpt %></p>
      <a rel="prefetch" href="<%- url_for(post.path) %>" style="font-size:1.6rem;">Continue Reading...</a>
    </header>
  </div>
</article>