<!--footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
    </div>
  </div>
</footer-->

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <div>
            <h5><a href="#modal-contact" style="border-bottom: dashed thin;">ZeroSpatial</a>
              | by Malcolm Meyer<br>
            </h5>
            Twitter - <a href="https://twitter.com/getbounds" target="_blank">@getBounds</a><br>
            GitHub - <a href="https://github.com/reyemtm" target="_blank">reyemtm</a><br>
            Powered by <a href="https://jenil.github.io/chota/#docs" target="_blank">chota</a> | <a href="https://hexo.io/" target="_blank">Hexo</a> | <a href="https://www.netlify.com/" target="_blank">Netlify</a> | <a href="https://gtihub.com/" target="_blank">GitHub</a>
        </div>
      </div>
      <div class="col">
        <%- partial('_widget/archive') %>
      </div>
      <div class="col">
      </div>
      <div class="col">
        <h5>Topics</h5>
        <%- tagcloud() %>

      </div>
    </div>
  </div>
</footer>
<script>
  <% if (config.highlight.enable){ %>
  var link = document.createElement( "link" );
  link.href = "//fonts.googleapis.com/css?family=Source+Code+Pro";
  link.type = "text/css";
  link.rel = "stylesheet";

  document.getElementsByTagName( "head" )[0].appendChild( link );
  <% } %>
</script>