<!--header id="header">
  <div id="banner"></div>
  <div id="header-outer" class="outer">
    <div id="header-title" class="inner">
      <h1 id="logo-wrap">
        <a href="<%- url_for() %>" id="logo"><%= config.title %></a>
      </h1>
      <% if (theme.subtitle){ %>
        <h2 id="subtitle-wrap">
          <a href="<%- url_for() %>" id="subtitle"><%= theme.subtitle %></a>
        </h2>
      <% } %>
    </div>
    <div id="header-inner" class="inner">
      <nav id="main-nav">
        <a id="main-nav-toggle" class="nav-icon"></a>
        <% for (var i in theme.menu){ %>
          <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
        <% } %>
      </nav>
      <nav id="sub-nav">
        <% if (theme.rss){ %>
          <a id="nav-rss-link" class="nav-icon" href="<%- url_for(theme.rss) %>" title="<%= __('rss_feed') %>"></a>
        <% } %>
        <a id="nav-search-btn" class="nav-icon" title="<%= __('search') %>"></a>
      </nav]>
      <div id="search-form-wrap">
        <%- search_form({button: '&#xF002;'}) %>
      </div>
    </div>
  </div>
</header-->

<header>
  <div class=<% if (url_for(page.path) == '/index.html') {%>"hero"<%}else{%>"hero hero-post"<%}%> >
    <% if (url_for(page.path) == '/index.html') {%>
    <img data-src="assets/img/img0.jpg" data-heading="Open Parcel Viewer" data-subtitle="Hero Subtitle" data-link="#modal-contact">
    <img class="hidden" data-src="assets/img/storelocate.png" data-heading="Store Locator" data-subtitle="Subtitle 2" data-link="#modal-contact">
    <img class="hidden" data-src="assets/img/materialmaptemplate.png" data-heading="Material Design Map Template" data-subtitle="Subtitle 3" data-link="#modal-contact">
    <div class="hero-text">
      <h2></h2>
      <p></p>
      <a href="#"><button type="button" class="button outline hero-link">Learn More</button></a>
    </div>
    <%}else{%><img src="<%- (page.img) %>"><%}%>

    <div class="hero-overlay"></div>
  </div>
</header>