<header>
  <!-- <% if(is_home()) {%>homepage<%}%> -->
  <div class=<% if(is_home()) {%>"hero"<%} else if (is_post()){%>"hero hero-post"<%}else{%>"hero hero-page"<%}%> >
    <% if(is_home()){%>
      <% site.posts.sort('date', -1).each(function(post, i) {%>
        <% if (post.featured || i === 0) {%>
        <div class="hidden img" data-src="/assets/img/<%- post.img %>" data-heading="<%- post.title %>" data-subtitle="<%- post.subtitle %>" data-link="<%- config.root %><%- post.path %>"></div>
        <%}%>
      <%})%>
    <div class="hero-text">
      <h2></h2>
      <h5></h5>
      <a href="#"><button type="button" class="button outline hero-link">Read More</button></a>
    </div>
    <div class="hero-overlay"></div>
    <%}%>
    <% if (is_tag()) {%>
      <div class="container" style="height:100%;">
        <div class="row" style="height:100%;">
          <div class="col is-vertical-align is-horizontal-align">
            <h1 style="color:white;"><%- titlecase(page.tag) %></h1>
            <em id="archive-page" class="is-center text-light" style="position: absolute;top: 180px;font-size:1.6rem;"></em>
          </div>
        </div>
      </div>
    <%}%>
    <% if (is_archive()) {%>
      <img style="background-image:url('/assets/img/<%- (config.headerimg) %>');">
      <div class="container" style="height:100%;position:relative;">
        <div class="row" style="height:100%;">
          <div class="col is-center is-vertical-align">
            <h1 class=" is-center" style="color:white;">Blog</h1>
            <em id="archive-page" class="is-center text-light" style="position: absolute;top: 180px;font-size:1.6rem;"></em>
          </div>
        </div>
      </div>
    <%}%>
    <% if (is_post()) {%>
      <div style="background-image:url('/assets/img/<%- (page.img) %>');background-size: cover;background-position: center;width: 100%;height: 100%;"></div>
      <div class="hero-overlay"></div>
    <%}%>
    <% if (is_page()) {%>
      <% if (page.img) {%>
        <img style="background-image:url('/assets/img/<%- (page.img) %>');">
      <%}%>
      <div class="container" style="height:100%;">
        <div class="row is-center" style="height:100%;">
          <div class="col is-vertical-align">
            <h1 class="is-center" style="color:white;"><%- page.title %></h1>
            <% if (page.subtitle) {%><h2 class="is-center" style="color:white;"><%- page.subtitle %></h2><%}%>
          </div>
        </div>
      </div>
    <%}%>
  </div>
</header>
