<header class="hero" style="height: 30vh">
  <img class="hero--background-img" src="/assets/img/lg_cover_dem_rivers_wide.webp"
    alt="Background Image of a River"></img>
  <div class="hero--inner">
    <h1 class="hero--title">
      <% if (page.tag) {%>Topic | <%- titlecase(page.tag) %>
      <%}else if (page.category){%>Archive | <%- titlecase(page.category) %>
        <% if (page.category === 'blog') {%> Posts <%}%>
        <% if (page.category === 'featured') {%> Projects <%}%>
      <%}else{%>Projects & Posts<%}%>
    </h1>
  </div>
</header>

<section id="blog">
  <div class="lg" style="margin:1rem auto;align-items: baseline;">
    <% page.posts.sort('date', -1).each(function(post, i) {%>
      <a rel="prefetch" href="<%- url_for(post.path) %>" style="text-decoration: none;">
        <div>
          <%- partial('_partial/date', {post: post}) %>
            <h2 style="margin:0 0 0.5rem 0">
              <%= post.title %>
            </h2>
            <h3 style="margin:0;font-weight:300">
              <%= post.subtitle %>
            </h3>
            <!-- <p><%- strip_html((post.excerpt).substring(0, 150)) %>...</p> -->
        </div>
      </a>
      <div class="post" style="margin:0.5rem 0 0.5rem 0;width: 100%;display: flex;white-space: nowrap;flex-flow: wrap;">
          <%- list_categories(post.categories, { show_count: false, class: 'clean category tag', separator: "|" }) %>
          <%- list_tags(post.tags, { show_count: false, class: 'clean tag' }) %>
          <ul class="tag-list">
            <li class="tag-list-item">
              <a class="clean tag-list-link" href="/archive/" rel="tag">view all</a>
            </li>
          </ul>
        </div>
      <%})%>
  </div>
</section>