<header class="hero hero-sm">
  <img class="hero--background-img" src="/assets/bg-3.jpg"
    alt="Background Image of a River"></img>
  <div>
    <div class="hero--inner inner-container">
      <div style="padding: 1rem 1.5rem">
        <h1 class="hero--title" style="display:inline-flex;align-items:center;margin-top:0">
          <img class="logo" src="/assets/logo.svg" /> <%- config.title %> <span style="font-size: 1rem"></span>
        </h1>
        <h2 class="hero--subtitle">
          <%- config.tagline %>
        </h2>
        <!-- <a class="hero--btn" style="width:100%" href="#contact">Contact</a> -->
      </div>
      <div id="post-preview" class="grid--card" style="background-color: var(--color-accent-light)">
        <h3 style="font-weight:100;font-size:1rem;opacity: 0.8;">Latest from the Blog</h3>
        <% site.categories.sort('name').map(function(category){ %>
          <% if(category.name == 'blog' ) { %>
            <% category.posts.sort('date', -1).each(function(post, i) {%>
              <% if (i < 1) {%>
                <a href="<%- url_for(post.path)%>" style="text-decoration: none";><h3 style="margin-bottom:0.5rem"><%- post.title %></h3>
                <span class="grid--icon">
                  <img src="/assets/icons/grid-icons/grid-view.svg" alt="Data Servers">
                </span>
                <p><%- post.subtitle %></p></a>
              <%}%>
            <%})%>
          <% } %>
        <% }) %>
      </div>
    </div>
  </div>
</header>

<main>

    <!-- PROJECTS -->
    <section id="projects" class="full">
      <!-- <h2 class="fw6">Recent Posts</h2> -->
      <h2 class="section--heading" id="projects">Projects</h2>
      <div class="image-grid">
        <% site.categories.sort('date', -1).map(function(category){ %>
          <% if(category.name == 'projects' ) { %>
            <% category.posts.sort('date', -1).each(function(post, i) {%>
              <% if (post.project) {%>
                <% if (post.project[0].images) {%>
                <div style="position: relative;" class="image-grid--image">
                  <a rel="prefetch" href="<%- url_for(post.path) %>" style="text-decoration: none;">
                    <img id="project-images" src="/assets/img/md_<%= post.project[0].images[0] %>.webp" alt="<%= post.title %>" style="width:100%" />
                  </a>
                  <div class="image-grid--caption"><div class="image-grid--title"><%= post.title %></div><span style="font-size:0.8rem" class="image-grid--subtitle"><%= post.subtitle %></span></div>
                </div>
                <%}%>
              <%}%>
            <%})%>
            <%}%>
        <%})%>
      </div>
      <!-- <div>
        <a href="/projects/" class="inverse btn">All Projects</a>
      </div> -->
    </section>

    <section class="inverse full">
    <!-- SERVICES -->
    <div id="services" class="container" style="z-index:1">
      <h2 class="section--heading" id="projects">Services</h2>
      <div class="grid grid-2">
        <div class="grid--card">
          <h3>Data Visualization</h3>
          <span class="grid--icon">
            <img src="/assets/icons/grid-icons/reports.svg" alt="Charts">
          </span>
          <p>Maps are just the beginning. <a id="animated-modal-trigger" href="/#map-visuals">Interactive visuals</a> help communicate the story behind the data.</p>
        </div>
        <div class="grid--card">
          <h3>Mapbox GL JS Maps</h3>
          <span class="grid--icon">
            <img src="/assets/icons/grid-icons/maps.svg" alt="Map">
          </span>
          <p>Brand matters. Enhance user experience with <a href="/#map-styles">custom map designs</a> to match your brand.</p>
        </div>
        <div class="grid--card">
          <h3>Spatial Analysis</h3>
          <span class="grid--icon">
            <img src="/assets/icons/grid-icons/tracking.svg" alt="Data Grid">
          </span>
          <p>Spatial analytics can enrich and enhance any type of data associated with a physical location.</p>
        </div>
        <div class="grid--card">
          <h3>Vector Tile Hosting</h3>
          <span class="grid--icon">
            <img src="/assets/icons/grid-icons/manage-data.svg" alt="Data Servers">
          </span>
          <p>Take control of web map data with a database-to-map pipeline or a <a href="/#tileserver-custom">self-hosted vector tile server</a>.</p>
        </div>
      </div>
    </div>
    </section>

  <!-- BLOG -->
  <section id="blog">
    <h2 class="section--heading">Latest Posts</h2>
    <div class="blog lg">

      <% site.categories.sort('name').map(function(category){ %>
        <% if(category.name == 'blog' ) { %>
          <% category.posts.sort('date', -1).each(function(post, i) {%>
            <% if (i < 8) {%>
              <%- partial('_partial/post_card', {post: post}) %>
            <%}%>
          <%})%>
        <% } %>
      <% }) %>

    </div>
    <div>
      <a href="/blog" class="inverse btn">View More</a>
    </div>
  </section>

  <!-- OPEN SOURCE -->

  <section id="open-source" class='code inverse'>
    <h2 class="section--heading">Open Source</h2>
    <div class="inner-container">
      <% for (var i in site.data.repos) { %>
        <% if (i < 10) {%>
          <article
            style="padding:1rem;background: var(--color-accent-darker);border-radius:var(--border-radius);margin-bottom: 2rem;">
            <header>
              <a href="<%= site.data.repos[i].repo%>"><strong>
                  <%= site.data.repos[i].name %>
                </strong></a>
            </header>
            <main style="margin: 1rem 0;font-weight: 300">
              <%= site.data.repos[i].description %>
                <% if (site.data.repos[i].homepage) {%>
                  <div><br /><a href="<%= site.data.repos[i].homepage %>">Demo</a></div>
                  <%}%>
            </main>
            <footer style="opacity: 0.8;">
              <%= site.data.repos[i].language %>
                <% if (site.data.repos[i].forks) {%> <span style="float:right;display:flex;"><img alt="code fork icon"
                      src="/assets/icons/code-fork.svg">&nbsp;<%= site.data.repos[i].forks %></span>
                  <%}%>
                    <% if (site.data.repos[i].stars) {%> <span style="float:right;display:flex;"><img alt="star icon"
                          src="/assets/icons/star.svg">&nbsp;<%= site.data.repos[i].stars %>&nbsp;&nbsp;</span>
                      <%}%>
            </footer>
          </article>
          <%}%>
            <% } %>
              <a href="https://github.com/reyemtm?tab=repositories" class="btn">GitHub</a>
    </div>
  </section>
  <!-- OLD PROEJCTS -->
  <!-- <section class="full inverse" style="background-position:bottom;padding:4rem"></section> -->
  <!-- QUICK PORTFOLIO -->
  <!-- <section id="portfolio" class="full inverse" style="background-color:#121212;background-image:none">
    <h2 class="section--heading">Portfolio</h2>
    <div class="portfolio">
      <img class="portfolio-img" src="/assets/img/lg_storelocate.webp" alt="Portfolio Image" loading=lazy>
      <img class="portfolio-img" alt="Portfolio Image"
        src="/assets/img/lg_08-ohio-vehicle-crash-explorer-with-heatmap.webp" loading=lazy>
      <img class="portfolio-img" alt="Portfolio Image"
        src="/assets/img/lg_04-zanesville-zoning-interactive-web-map.webp" loading=lazy>
      <img class="portfolio-img" alt="Portfolio Image"
        src="/assets/img/lg_01-ohio-block-group-explorer-explorer-story-with-3d-views.webp" loading=lazy>
      <img class="portfolio-img" alt="Portfolio Image"
        src="https://www.malcolmmeyer.com/img/06-gpx-visualization-web-application.png" loading=lazy>
    </div>
    <div class="center">
      <a href="https://malcolmmeyer.com" class="inverse btn">Full Portfolio</a>
    </div>
  </section> -->

  <!-- <section id="about" class="inverse">
    <h2 class="section--heading">About</h2>
    <div class="inner-container">
      <p>
        <%- config.description %>
      </p>
      <h3>Analysis</h3>
      <p>From data cleaning to geocoding to advanced geospatial analysis, I strive to find the most appropriate and cost effective data analysis solutions to fulfill project requirements.</p>
      <h3>Print & Web </h3>
      <p>I have five years of experience building responsive web applications built with Mapbox GL J and two years of experience creating print layouts in QGIS. I have received awards from both state and national organizations for several of these map products.</p>
      <h3>Web Applications</h3>
      <p>I have experience building full stack, responsive web applications using a variety of tools including NodeJS, Postgres, and Firebase. Let me help your organization bring desktop-based workflows to life with the power of the modern web.</p>
    </div>
  </section> -->

  <section id="contact">
    <h2 class="section--heading">About & Contact</h2>
    <div class="side-by-side">
      <div style="direction: ltr;margin:1rem 0">
        <p><%- config.description %></p>
      </div>
      <div style="direction: ltr;width: 100%">
        <form
          name="contact"
          method="POST"
          netlify-honeypot="bot-field"
          data-netlify="true"
          >
          <label for="name">Name</label>
          <input type="text" id="name" name="name" placeholder="Jane Doe">

          <label for="email">Email</label>
          <input type="email" id="email" name="email" placeholder="jdoe@email.com">

          <label for="message">Message</label>
          <textarea id="message" name="message" placeholder="Tell me about your project..." style="height:200px"></textarea>

          <span class="hidden" style="height:20px">
            <label>
              Bot Field <input name="bot-field" />
            </label>
          </span>

          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </section>

</main>

<!-- <div class="modal">
  <div class="modal-content">
    <picture>
      <img src="" alt="Portfolio Image">
    </picture>
    <figcaption></figcaption>
  </div>
</div> -->

<div id="map-visuals" class="modal">
  <a class="modal-overlay" href="#close" aria-label="Close"></a>
  <button class="close-button"></button>

  <div class="modal-content">
    <div class="grid grid-2">
      <figure>
        <iframe id="animated-modal" src="/sample-apps/animated.html" frameborder="none"></iframe>
        <figcaption>A map animation highlighting the smooth scroll and pitch effects available in modern mapping libraries.</figcaption>
      </figure>
      <figure class="no-mobile">
        <img src="/assets/img/lg_map-demo.webp">
        <figcaption>A custom map UI built powered by Mapbox GL JS with a layer control, popup window and geocoder.</figcaption>
      </figure>
    </div> 
  </div>
</div>

<div id="tileserver-custom" class="modal">
  <a class="modal-overlay" href="#close" aria-label="Close"></a>
  <button class="close-button"></button>

  <div class="modal-content">
      <figure>
        <img src="/assets/img/tileserver-custom.png">
        <figcaption>Custom Node JS mbtiles server with built-in preview.</figcaption>
      </figure>
  </div>
</div>

<div id="map-styles" class="modal">
  <a class="modal-overlay" href="#close" aria-label="Close"></a>
  <button class="close-button"></button>
  <div class="modal-content">
    <div class="grid grid-2">
      <figure>
        <img src="/assets/img/md_map-styles-hillshade.webp">
        <figcaption>Custom multi-directional hillshade layer with a view of the Grand Canyon.</figcaption>
      </figure>
      <figure>
        <img src="/assets/img/md_map-styles-dark-3d.webp">
        <figcaption>Dark-themed map style based on kiosk print maps in downtown Cleveland, Ohio.</figcaption>
      </figure>
    </div>
  </div>
</div>

<div id="tile-server" class="modal">
  <a class="modal-overlay" href="#close" aria-label="Close"></a>
  <button class="close-button"></button>

  <div class="modal-content">
    <figure>
      <iframe src="https://tiles.zerospatial.com/nhd_streams/map#9.67/39.2484/-82.8376" frameborder="0"></iframe>
      <figcaption>SAAS vector tile server with support for API key or IP-based limiting.</figcaption>
    </figure>
  </div>
</div>

<script>
const trigger = document.getElementById('animated-modal-trigger');
const iframe = document.getElementById('animated-modal');
trigger.addEventListener('click', function() {
  iframe.src = "/sample-apps/animated.html#animate"
});
const modalOverlay = document.querySelector(".modal-overlay");
modalOverlay.addEventListener("click", () => {
  iframe.src = "/sample-apps/animated.html"
})

const closeButtons = document.querySelectorAll(".close-button");
closeButtons.forEach((button) => {
  button.addEventListener("click", () => {
    window.location.hash = "#close";
  })
})
</script>
