<!DOCTYPE html>
<html lang="en">
<head>
  <!-- <% page.layout %> -->
  <%- partial('_partial/head') %>
</head> 
<body>
  <%- partial('_partial/nav') %>
  <%- body %>
  <%- partial('_partial/footer') %>
  <% if (is_home() === true) {%>
  <%- partial('_partial/homepage-scripts') %>
  <script>
    const links = document.querySelectorAll("a");
    links.forEach(l => {
      if (l.href.includes("/#")) {
        l.addEventListener("click", (e) => {
          e.preventDefault()
          window.location.replace(e.target.href);
        })
      }
    })
  </script>
  <%}%>
</body>

</html>