<article class="post" style="margin:2rem auto">
  <header>
    <span>
      <%- partial('_partial/date', {post: page}) %>
    </span>

    <h1 class="post--title">
      <%- page.title %>
    </h1>
    <h2 class="post--subtitle">
      <%- page.subtitle %>
    </h2>
    <p class="post--meta">
      Client | <%= page.project[0].client %>
    </p> 
    <!-- <span>
      <%- list_tags(page.tags, { show_count: false, class: 'clean tag' }) %>
    </span> -->
  </header>

  <main>
    <% project = page.project[0] %>
    <% images = project.images %>
    <% tech = page.project[0].tech %>
    <p>
      <img id="project-images" src="/assets/img/lg_<%= project.images[0] %>.webp">
    </p>
    <p>
      <%- markdown(page.project[0].description) %>
    </p>
    <p>
      <% if (project.url) {%><a href="<%= project.url %>" target="_blank"  style="display:inline-flex;align-items:center"><img src="/assets/icons/external-link.svg" alt="project-link">&nbsp;Project Link</a><%}%>
    </p>
    <p>
      <% for (i = 0; i < page.project[0].tech.length; i++) {%>
        <span class="project-tag"><%= tech[i] %></span>
      <%}%>
    </p>   
    <p style="margin-top:4rem">
      <a href="/projects" class="btn">View More Projects</a>
    </p>
  </main>
</article>
<section class="inverse">
  <h2 class="section--heading">Featured Projects</h2>
  <div class="featured">
    <% site.categories.sort('name').map(function(category){ %>
      <% if(category.name == 'featured' ) { %>
        <% category.posts.sort('date', -1).each(function(post, i) {%>
          <% if ((post.title != page.title) && (i < 3)) {%>
            <%- partial('_partial/post_card', {post: post}) %>
          <%}%>
        <%})%>
      <% } %>
    <% }) %>
  </div>
</section>

<% if (images.length == 2) {%>
  <script>
    const images = ["<%= project.images[0] %>","<%= project.images[1] %>"];
    const div = document.querySelector("#project-images");
    div.style.cursor = "pointer"
    let currentImage = 0;
    div.addEventListener("click", () => {
      currentImage = (!currentImage) ? 1 : 0;
      div.src = "/assets/img/lg_" + images[currentImage] + ".webp"
    })
  </script>
<%}%>