---
layout: false
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resume Timeline</title>

  <meta name="description"
    content="Malcolm Meyer | Resume Timeline. A visual timeline of my work experience beginning with my introduction to GIS in graduate school at Ohio University in 2005.">

  <meta property="og:type" content="website">
  <meta property="og:title" content="Malcolm Meyer | Resume Timeline">
  <meta property="og:url" content="https://www.getbounds.com/resume-timeline/index.html">
  <meta property="og:site_name" content="getBounds">
  <meta property="og:description"
    content="Malcolm Meyer | Resume Timeline. A visual timeline of my work experience beginning with my introduction to GIS in graduate school at Ohio University in 2005.">
  <meta property="og:locale" content="en_US">
  <meta property="og:image" content="https://www.getBounds.com/assets/timeline/resume-timeline.png">

  <meta property="article:author" content="Malcolm Meyer">

  <meta property="article:tag" content="resume">
  <meta property="article:tag" content="portfolio">
  <meta property="article:tag" content="gis">
  <meta property="article:tag" content="blog">
  <meta property="article:tag" content="geospatial">
  <meta property="article:tag" content="vector tiles">
  <meta property="article:tag" content="mapbox">
  <meta property="article:tag" content="leaflet">
  <meta property="article:tag" content="web maps">
  <meta property="article:tag" content="web mapping">
  <meta property="article:tag" content="data visualization">
  <meta property="article:tag" content="dataviz">
  <meta property="article:tag" content="portfolio">
  <meta property="article:tag" content="geoserver">
  <meta property="article:tag" content="mapserver">
  <meta property="article:tag" content="maplibre">
  <meta property="article:tag" content="mapbox gl">
  <meta property="article:tag" content="mapbox gl js">
  <meta property="article:tag" content="mapbox developer">
  <meta property="article:tag" content="maplibre developer">
  <meta property="article:tag" content="openlayers developer">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@getbounds">
  <meta name="twitter:site" content="@getbounds">
  <meta name="twitter:image" content="https://www.getBounds.com/assets/timeline/resume-timeline.jpg">

  <link rel="canonical" href="https://www.getBounds.com/resume-timeline/index.html">

  <link rel="stylesheet" href="/modals.min.css">
  <link rel="stylesheet" href="<%- site.url %>/resume-timeline/d3-milestones.css">
  <link rel="stylesheet" href="<%- site.url %>/resume-timeline/timeline.css">

</head>

<body>

  <%- page.content %>

    <script src="<%- site.url %>/resume-timeline/d3-milestones.min.js"></script>
    <script src="<%- site.url %>/resume-timeline/timeline.js"></script>
</body>

</html>