<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">

  <div class="post">
    <%- partial('gallery') %>
    <header class="post-header">
      <% if (post.link || post.title){ %>
      <%- partial('header', {class_name: 'archive-article-title'}) %>
      <% } %>
    </header>
    <div itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link">
            <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
          </p>
        <% } %>
      <% } else { %>
        <% if (post.slides || post.iframe) { %>
          <% if (post.slides) { %><% var iframe = (post.slides) %><%}else{%><% var iframe = (post.iframe) %><%}%>
          <div>
            <iframe src="<%= iframe %>" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" width="100%" height="700" frameborder="0"></iframe>
          </div>
          <%}%>
        <%- post.content %>
      <% } %>
    </div>
    <br><br>
    <footer>
      <% if (!index){ %>
        <%- partial('nav') %>
      <% } %>
    </footer>
  </div>
</article>

<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
    <% if (post.comments && config.disqus_shortname){ %>
      <a href="<%- post.permalink %>#disqus_thread" class="article-comment-link"><%= __('comment') %></a>
    <% } %>
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>